<%- include('partials/header') -%>

 
  <div class=" text-black">

<!-- I need to figure out how to get the array of students from the Classroom Schema -->
        <div class="collapse-content"> 
            <% for(var i=0; i<student.length; i++) {%>
                <li class="text-black">
                     <a href="/profile/<%= classroom.students[i]._id%>"><%= classroom.students[i]%></a>
                </li>
            <% } %>
        </div>

        <a href="/classroom/<%= classroom._id%>/signupStudent" class="col-3 btn btn-primary"> Add student</a>
   

</div>