<%- include('partials/header') -%>

<main class="container">
    <div class="row justify-content-around mt-5">
        <a href="/signupTeacher" class="col-3 btn btn-primary"> Signup Teacher</a>
        <a href="/signupStudent" class="col-3 btn btn-primary">Signup Student</a>
    </div>
</main>
    

<%- include('partials/footer') -%>